{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1><strong>Привет, я автор</strong></h1>
<article class="col-12 col-md-9">
<p>
    <div>
        <div>
        <div>Меня зовут Артём, рад знакомству.</div>
        <div>
        <div>
        <div>Мне 31.</div>
        <div>Пока я еще мало, что знаю и понимаю в програмировании,</div>
        <div>Но, уверен, что во всем смогу разобраться!</div>
        </div>
        </div>
        </div>
    </div>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      
      <li class="list-group-item">
        <a href="https://github.com/unocalibra">Мой  Github</a>
      </li>
    </ul>
  </aside>
</p>
</article>
{% endblock %} 